.cartContainer {
  padding-left: 20px;
  padding-right: 20px;
  .header {
    padding-top: 20px;
    padding-bottom: 40px;
    .button {
      color: grey;
      border-radius: 40px;
    }
  }
  .listTitle {
    padding-bottom: 27px;
    font-weight: bold;
    border-bottom: 1px solid #d1d1d1;
  }
  .totalContainer {
    width: 300px;
    padding: 45px 0px 45px 0px;
  }
  .totalAmount {
    font-weight: bold;
  }
  .createOrderButton {
    width: 300px;
    border-radius: 20px;
  }
}