.input{
  width: 100%;
  border: 1px solid #CDD1DE;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  padding: 14px;
  &:focus{
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
    outline: none;
  }
}
