.filterWrapper{
  padding: 40px;
  @media only screen and (max-width: 973px) {
    padding-top: 0px;
  }
  .filterContainer {
    width: 400px;
    padding: 0px 5%;
    @media only screen and (max-width: 973px) {
      display: none;
    }
  }

}