.ant-picker{
  width: 100%;
}

::placeholder{
  color: #888888 !important;
}

.ant-picker-dropdown{
  background: red;
  .ant-btn-primary{
    display: none;
  }
}

.eta-dropdown{
  .date-picker{
    padding: 5px 12px;
    .ant-picker{
      padding: 0px;
      border: none;
      box-shadow: none;
      .ant-picker-suffix{
        display: none;
      }
      ::placeholder{
        color: rgba(0, 0, 0, 0.85) !important;
      }
      input{
        font-size: 14px;
        border: none !important;
      }
    }
  }
}
